* {   
    text-align: center;
    margin: auto;
    padding: 5px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    background-color: lemonchiffon;
}

h1 {
    font-weight: normal;
    text-decoration: underline;
}

img {
    border: 10px black;
    display: block;
}

div.container {
    text-align: center;
}

ul.IngredientsUL {
    list-style-position: inside;
    border: 3px solid black;
    display: inline-block
}

ol.InstructionsOL {
    list-style-position: inside;
    border: 3px solid black;
    display: inline-block; 
    text-align: left;
}